#interactive_todo_container .context-actions li {
  float: left;
  list-style: none;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

#interactive_todo_container .todo_wrapper_tabs ul li {
  float: left;
  list-style: none;
  width: 200px;
  margin-bottom: 10px;
  border-bottom: 1px solid silver;
  font-weight: bold;
}

#interactive_todo_container #todo_content_pending li,
#todo_content_completed li {
  clear: left;
  list-style: none;
  width: 400px;
  border-bottom: 1px solid silver;
}
#block-interactive-todo-interactive-todo {
  width: 450px;
  float: left;
  border: 2px solid silver;
}
#interactive_todo_container header {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid grey;
}
#interactive_todo_container .todo_wrapper_tabs {
  clear: both;
}
#interactive_todo_container #todo_content_completed .dash-content-list,
#todo_content_pending .dash-content-list {
  height: 200px;
  overflow: scroll;
  width: 95%;
}
#operation_container .form-text {
  width: 100%;
}
#todo_content_pending li .pending {
  display: inline-block;
  background: url('../interactive_todo/images/yes.png') no-repeat;
  height: 15px;
  width: 20px;
  text-indent: -9999px;
}
#todo_content_completed li .completed {
  display: inline-block;
  background: url('../interactive_todo/images/no.png') no-repeat;
  height: 15px;
  width: 20px;
  text-indent: -9999px;
}
#todo_content_completed li .undo {
  display: inline-block;
  background: url('../interactive_todo/images/undo.png') no-repeat;
  height: 15px;
  width: 20px;
  text-indent: -9999px;
}
